{% extends "layout/base.html" %}
{% load static %}

{% block title %}
  Hechos Historicos
{% endblock title %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
{% endblock style %}

{% block cuerpo %}
<body class="container">
  {% include "layout/partials/menu.html" %}

  <div id="ash-container"></div>

  <main class="row">
    <div class="registro">
      <h1>Editar cuenta</h1>
      <form action="{% url 'editar' user.id %}" method="POST">
        {% csrf_token %}
        <h3>Username</h3>
        {{ form.username }}
        <h3>Nombre</h3>
        {{ form.nombre }}
        <h3>Apellidos</h3>
        {{ form.apellidos }}
        {% if user == request.user %}
          <h3>Nueva Contraseña</h3>
          {{ form.password1 }}
          <h3>Confirme Contraseña</h3>        
          {{ form.password2 }}
        {% endif %}
        <h3>Email</h3>
        {{ form.email }}
        <button type="submit">Guardar Cambios</button>
      </form>
    </div>
  </main>

  <footer>
    <p>Todos los derechos reservados</p>
  </footer>
</body>
{% endblock cuerpo %}
