<!-- usuarios/entrar.html -->
{% extends "layout/base.html" %}
{% load static %}

{% block title %}
  Iniciar Sesión
{% endblock title %}

{% block style %}
  <link rel="stylesheet" type="text/css" href="{% static 'css/index.css' %}">
{% endblock style %}

{% block cuerpo %}
  <body class="container">
    {% include "layout/partials/menu.html" %}

    <div id="ash-container"></div>

    <main class="row">
      <div class="registro">
        <h1>Iniciar Sesión</h1>
        <form action="{% url 'login' %}" method="POST">
          {% csrf_token %}
          <h3>Nombre de Usuario</h3>
          <input type="text" name="username" required>
          <h3>Contraseña</h3>
          <input type="password" name="password" required>
          <button type="submit">Iniciar Sesión</button>
        </form>
      </div>
    </main>

    <footer>
      <p>Todos los derechos reservados</p>
    </footer>
  </body>
{% endblock cuerpo %}
